<a href="https://colab.research.google.com/github/NeptuneAtlas/CAP4770/blob/main/Gerald_Atilus_BachProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bach Chorales Project

Here is the link to data file being used: https://raw.githubusercontent.com/zacharski/ml-class/master/data/bach.zip

The purpose of this notebook is to demonstrate how to train and test data while predicting what the cord labels are from the csv file.

**Step 1: Import python libraries and read in the csv file**

This step is going to add much needed functionality in order to achieve what we need.

In [ ]:
#The python library being used is pandas
import pandas as pd
from pandas import DataFrame

#The link above contains a csv file which is going to be used here
bach = pd.read_csv('bach.csv')
bach

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
1,000106b_,2,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,5,C_M
2,000106b_,3,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,E,2,C_M
3,000106b_,4,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,3,F_M
4,000106b_,5,YES,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,NO,NO,YES,NO,NO,NO,NO,YES,NO,NO,YES,NO,G,4,G_m
5661,015505b_,106,NO,NO,YES,NO,NO,NO,NO,YES,NO,YES,NO,NO,G,3,G_m
5662,015505b_,107,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,NO,NO,C,5,C_M
5663,015505b_,108,YES,NO,NO,NO,YES,NO,NO,YES,NO,NO,YES,NO,C,3,C_M
5664,015505b_,109,NO,NO,NO,NO,NO,YES,NO,NO,NO,YES,NO,NO,F,4,F_M

**Step 2: Convert string values into integers**

In [ ]:
#The features found within the dataframe need to be converted to integers

bach['C#'] = bach['C#'].map({'YES': 1, 'NO': 0})
bach['C'] = bach['C'].map({'YES': 1, 'NO': 0})
bach['D'] = bach['D'].map({'YES': 1, 'NO': 0})
bach['D#'] = bach['D#'].map({'YES': 1, 'NO': 0})
bach['E'] = bach['E'].map({'YES': 1, 'NO': 0})
bach['F'] = bach['F'].map({'YES': 1, 'NO': 0})
bach['F#'] = bach['F#'].map({'YES': 1, 'NO': 0})
bach['G'] = bach['G'].map({'YES': 1, 'NO': 0})
bach['G#'] = bach['G#'].map({'YES': 1, 'NO': 0})
bach['A'] = bach['A'].map({'YES': 1, 'NO': 0})
bach['A#'] = bach['A#'].map({'YES': 1, 'NO': 0})
bach['B'] = bach['B'].map({'YES': 1, 'NO': 0})

#This will ignore any error that may be caused by the value being an integer rather than a string
bach['C'] = pd.to_numeric(bach['C'],errors='coerce')
bach['C#'] = pd.to_numeric(bach['C#'],errors='coerce')
bach['D'] = pd.to_numeric(bach['D'],errors='coerce')
bach['D#'] = pd.to_numeric(bach['D#'],errors='coerce')
bach['E'] = pd.to_numeric(bach['E'],errors='coerce')
bach['F'] = pd.to_numeric(bach['F'],errors='coerce')
bach['F#'] = pd.to_numeric(bach['F#'],errors='coerce')
bach['G'] = pd.to_numeric(bach['G'],errors='coerce')
bach['G#'] = pd.to_numeric(bach['G#'],errors='coerce')
bach['A'] = pd.to_numeric(bach['A'],errors='coerce')
bach['A#'] = pd.to_numeric(bach['A#'],errors='coerce')
bach['B'] = pd.to_numeric(bach['B'],errors='coerce')
#bach['bass'] = pd.to_numeric(bach['bass'],errors='coerce')

#using "value_counts" allows us to check how many times a value has occurred
# These values are going to be split between the training and testing data
# In order to ensure that we have an even amount of occurences we will drop values that are equal to 1 and keep everything greater than that
func = bach["chord_label"].value_counts() > 1
new_bach = bach[bach["chord_label"].isin(func[func].index)]
new_bach[['chord_label']].value_counts()[-1000:]
new_bach

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
1,000106b_,2,1,0,0,0,1,0,0,1,0,0,0,0,E,5,C_M
2,000106b_,3,1,0,0,0,1,0,0,1,0,0,0,0,E,2,C_M
3,000106b_,4,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
4,000106b_,5,1,0,0,0,0,1,0,0,0,1,0,0,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,0,0,1,0,G,4,G_m
5661,015505b_,106,0,0,1,0,0,0,0,1,0,1,0,0,G,3,G_m
5662,015505b_,107,1,0,0,0,1,0,0,1,0,0,0,0,C,5,C_M
5663,015505b_,108,1,0,0,0,1,0,0,1,0,0,1,0,C,3,C_M
5664,015505b_,109,0,0,0,0,0,1,0,0,0,1,0,0,F,4,F_M

**Step 3: Divide the dataset into features and labels**

In [ ]:
#The "bass" feature is dropped since it's a string value which can't be used
bFeatures= new_bach[['C',	'C#',	'D',	'D#',	'E',	'F',	'F#',	'G',	'G#',	'A',	'A#',	'B',	'meter']]
#bFeatures= bach[['meter']]
bLabels = new_bach['chord_label']
#The features are going to be used in order to make a prediction of what the chord label could be

bFeatures[:100]

    C  C#  D  D#  E  F  F#  G  G#  A  A#  B  meter
0   1   0  0   0  0  1   0  0   0  1   0  0      3
1   1   0  0   0  1  0   0  1   0  0   0  0      5
2   1   0  0   0  1  0   0  1   0  0   0  0      2
3   1   0  0   0  0  1   0  0   0  1   0  0      3
4   1   0  0   0  0  1   0  0   0  1   0  0      2
.. ..  .. ..  .. .. ..  .. ..  .. ..  .. ..    ...
95  1   0  0   0  1  0   0  1   0  0   1  0      2
96  1   0  0   0  1  0   0  1   0  0   1  0      1
97  1   0  0   0  0  1   0  0   0  1   0  0      4
98  1   0  0   0  1  0   0  1   0  0   0  0      5
99  1   0  0   0  1  0   0  1   0  0   0  0      2

[100 rows x 13 columns]

**Step 4: Divide into training and test sets**

In [ ]:
from sklearn.model_selection import train_test_split
bach_train_features, bach_test_features, bach_train_labels, bach_test_labels = train_test_split(bFeatures, bLabels, test_size = 0.2, random_state=42, stratify= bLabels)
#The data is being splitted. 80% of the data for training and 20% for testing. 
#"stratify" is being used as a parameter to ensure that 2 instances of chord label don't end up in the test set. If that occurs there will be no data in the train set. 

new_bach

,choral_ID,event_number,C,C#,D,D#,E,F,F#,G,G#,A,A#,B,bass,meter,chord_label
0,000106b_,1,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
1,000106b_,2,1,0,0,0,1,0,0,1,0,0,0,0,E,5,C_M
2,000106b_,3,1,0,0,0,1,0,0,1,0,0,0,0,E,2,C_M
3,000106b_,4,1,0,0,0,0,1,0,0,0,1,0,0,F,3,F_M
4,000106b_,5,1,0,0,0,0,1,0,0,0,1,0,0,F,2,F_M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5660,015505b_,105,0,0,1,0,0,0,0,1,0,0,1,0,G,4,G_m
5661,015505b_,106,0,0,1,0,0,0,0,1,0,1,0,0,G,3,G_m
5662,015505b_,107,1,0,0,0,1,0,0,1,0,0,0,0,C,5,C_M
5663,015505b_,108,1,0,0,0,1,0,0,1,0,0,1,0,C,3,C_M
5664,015505b_,109,0,0,0,0,0,1,0,0,0,1,0,0,F,4,F_M

**Step 5: Make predictions**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
#The kNN algorithm is imported and an instance is created from it.

#I had to mess around with the parameters to increase the accuracy of the predictions.
#n_neighbors was adjusted from 3 to 4
# Replaced uniform for distance in the weight's parameter. 
knnOne = KNeighborsClassifier(n_neighbors=4, p= 1, weights='distance')
knnOne.fit(bach_train_features, bach_train_labels)

predictions = knnOne.predict(bach_test_features)
predictions

array(['D_M', 'AbM', 'F_M', ..., 'E_M', 'BbM', 'G_M'], dtype=object)

**Step 6: Obtain the accuracy**

In [ ]:
#The accuracy is obtained by this code block 
from sklearn.metrics import accuracy_score
accuracy_score(bach_test_labels, predictions)
#without the one occurrences = 0.67
#with the one occurrences = 0.62

0.7067137809187279

**Conclusion:**

Ideally the type of accuracy we would like to obtain here is "1". The parameters were adjusted to better suit the csv file we were using. Using a different python library may also yield better results. The data obtained usuallyn isn't always ready for testing and training. Parts of it that are needed will be dropped to better suit what you're looking for.